Exercise 1: Talk with an LLM

The concepts of object-oriented programming (OOP) are complex and should be broken down for people new to programming. After consulting ChatGPT, I have learned a lot about OOP, such as the difference between a class and a type. A class gives initial values attributes and assigns behaviors by way of methods. The type function outputs the type or class of an object. For example, some common types are strings, integers, and floats, whereas the user usually defines classes. Objects and instances are also quite closely related. Objects focus more on the variable itself and are an instance in a class, and each instance has its own assigned behaviors (methods) and initial values. For example, if we create a class name Car and we say car1=Car("Mustang",1990) and car2=Car("Ford", 1967), car1 and car2 are both instances of the class. I have briefly touched upon attributes, but more formally, attributes are the initial values that affect a variable. In a class named Car(), if we write car1.color, color is the attribute. A variable is essentially a name assigned to a value. If we say x=10, x is the variable, and 10 is the value. Pure functions are nice, as they are predictable and easy to track and debug, but they do not change state, which is the main benefit of modifiers. Modifiers allow for changes in outside variables, which are often utilized in the real world, such as altering data from a database.

Exercise 2: subtract_time and is_after

1. Write a function called subtract_time that takes two Time objects and returns the interval between them in secondsâ€”assuming that they are two times during the same day.

2. Write a function called is_after that takes two Time objects and returns True if the second time is later in the day than the first, and False otherwise:

In [276]:
class  Time: #must be a capital letter; creates Time class
    """Represents the time of day"""
    pass

In [278]:
def make_time(hour,minute,second): #copy and paste from week 4 notebook for creation of a time object
    """enter the hour,minute,second and will return a new time object for the time"""
    time=Time() #defining class
    time.hour=hour #assigning values to attributes
    time.minute=minute
    time.second=second
    return time #returns newly created time object

In [280]:
def print_time(the_time):
    """Enter a time (using make_time) and will return a formatted version of the time"""
    return (f"{the_time.hour}:{the_time.minute}:{the_time.second}")

In [282]:
example_time=make_time(7,30,25)
print_time(example_time)

'7:30:25'

In [284]:
def subtract_time(t1, t2): #taking two moments in time as parameters
    """Enter the first time, the second time (using make_time) and will return the amount of time between the two times"""
    t1s=(t1.hour*3600)+(t1.minute*60)+(t1.second) #utilizing attributes defined above; arithmetic calculations for time difference in seconds
    t2s=(t2.hour*3600)+(t2.minute*60)+(t2.second)
    return abs(t1s-t2s) #returns difference in time between time 1 and time 2

In [286]:
def is_after(t1, t2): #same as subtract except return
    """Enter the first time, the second time (using make_time) and will return if time 1 is after time 2"""
    t1s=(t1.hour*3600)+(t1.minute*60)+(t1.second)
    t2s=(t2.hour*3600)+(t2.minute*60)+(t2.second)
    return t1s<t2s #returns true if time 1 is after time 2

In [288]:
first=make_time(5,4,7) #displaying
second=make_time(2,5,3)
print(f"The time between first and second is {subtract_time(first,second)} seconds")
print(f"first is after second: {is_after(first,second)}")

The time between first and second is 10744 seconds
first is after second: False

Exercise 3: Date Class

In [291]:
class Date: #creates Date class
    """Represents a year, month, and day"""
    pass

In [293]:
def date_to_tuple(year,month,day): #created for future use, but never ended up using it
    """enter year,month,date and will return a tuple of the three numbers in that order separated by a comma"""
    date=Date() #same concept as make_time function except return
    date.year=year
    date.month=month
    date.day=day
    return (date.year, date.month, date.day) #returns a tuple of year, month, day

In [295]:
example_date_tuple=date_to_tuple(2025,2,8) #displaying
print(example_date_tuple)

(2025, 2, 8)

1.Write a function called make_date that takes year, month, and day as parameters, makes a Date object, assigns the parameters to attributes, and returns the result as the new object. Create an object that represents June 22, 1933.

In [298]:
def make_date(year,month,day):
    """Enter year,month,day and will return a date object representing the date"""
    date=Date() #same concept as make_time
    date.year=year
    date.month=month
    date.day=day
    return date

In [300]:
june_six_nineteen_thirty_three=make_date(1933,6,22) #displaying
print(f"Year:{june_six_nineteen_thirty_three.year}, Month: {june_six_nineteen_thirty_three.month}, Day: {june_six_nineteen_thirty_three.day}")

Year:1933, Month: 6, Day: 22

2. Write a function called print_date that takes a Date object, uses an f-string to format the attributes, and prints the result. If you test it with the Date you created, the result should be 1933-6-22.

In [303]:
def print_date(the_date): #utiliziing make_date attributes to display with f-string
    """Enter the desired date (using make_date) and will return a formatted version of the date """
    return (f"{the_date.year}-{the_date.month}-{the_date.day}")

In [305]:
print_date(june_six_nineteen_thirty_three) #displaying date

'1933-6-22'

3. Write a function called is_after that takes two Date objects as parameters and returns True if the first comes after the second. Create a second object that represents September 17, 1933, and check whether it comes after the first object.

In [308]:
#very long conditional function that returns True if the first date comes after the second
#must account for all possibilities of equality
def is_after_date(the_date1, the_date2):
    """Enter two dates (using make_date) and will return True if the first date is after the second and vice versa"""
    if the_date1.year>the_date2.year:
        return True
    if the_date1.year<the_date2.year:
        return False
    if the_date1.year==the_date2.year:
        if the_date1.month>the_date2.month:
            return True
        if the_date1.month<the_date2.month:
            return False
        if the_date1.month==the_date2.month:
            if the_date1.day>the_date2.day:
                return True
            if the_date1.day<the_date2.day:
                return False
            return False

In [310]:
june_six_nineteen_thirty_three=make_date(1933,6,22) #displaying
september_seventeen_nineteen_thirty_three=make_date(1933,9,17)
is_after_date(june_six_nineteen_thirty_three, september_seventeen_nineteen_thirty_three)

False

Reflection
1. What questions do you still have about classes in Python?
2. What do you think is the most important thing to remember about classes?
3. What resources did you consult to help you complete this lab?

1. Classes are a very new topic for my education in Computer Science, so naturally I have many questions. What are some professional uses of classes outside of game programming (discussed in class)? How difficult are classes to learn relative to other programming subjects? Classes seem like they can be very useful for numerous programming needs, what are some of the disadvantages of classes?

2. When completing this lab, I found it most important to remember the relationship between the parameters and the attributes. It is important to remember that it follows the format of parameter.attribute (after making the object). Once I had that down the rest was a breeze.

3. Throughout the lab I had a couple of syntax errors that I was not quite sure how to fix, so I consulted ChatGPT and understood the corrections before making them. I did not have ChatGPT write any of my code, but I did have it help me point out a few minor errors. Throughout my programming experience, I have found that ChatGPT is good at debugging and syntax errors, which are my main uses for it.